# pandas practice
this note book  explain

 Import libraries

In [1]:
import pandas as pd
import numpy as np

In [3]:
# object creation
s = pd.Series([1,2,3,np.nan,4,5,6])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
6    6.0
dtype: float64

In [6]:
dates = pd.date_range('20230101',periods=10)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.rand(10,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2023-01-01  0.624621  0.771971  0.289985  0.581210
2023-01-02  0.073680  0.436485  0.600526  0.837488
2023-01-03  0.718648  0.431519  0.225555  0.376571
2023-01-04  0.135469  0.810929  0.483735  0.240044
2023-01-05  0.989490  0.177434  0.765761  0.160408
2023-01-06  0.765186  0.776883  0.918140  0.023625
2023-01-07  0.879282  0.879743  0.896476  0.461929
2023-01-08  0.295179  0.983000  0.151561  0.373097
2023-01-09  0.246402  0.082834  0.930914  0.724964
2023-01-10  0.614487  0.339148  0.332553  0.775664

In [12]:
df2 = pd.DataFrame(
   {
    'A':1.0,
    'B':pd.date_range('20230318',periods = 4),
    'C':pd.Series(1,index=list(range(4)),dtype='float'),
    'D':np.array([3]*4,dtype='int'),
    'E':pd.Categorical(['girl','women','girl','women']),
    'F':'females',

   } 
)
df2

     A          B    C  D      E        F
0  1.0 2023-03-18  1.0  3   girl  females
1  1.0 2023-03-19  1.0  3  women  females
2  1.0 2023-03-20  1.0  3   girl  females
3  1.0 2023-03-21  1.0  3  women  females

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

In [14]:
df.to_numpy

<bound method DataFrame.to_numpy of                    A         B         C         D
2023-01-01  0.624621  0.771971  0.289985  0.581210
2023-01-02  0.073680  0.436485  0.600526  0.837488
2023-01-03  0.718648  0.431519  0.225555  0.376571
2023-01-04  0.135469  0.810929  0.483735  0.240044
2023-01-05  0.989490  0.177434  0.765761  0.160408
2023-01-06  0.765186  0.776883  0.918140  0.023625
2023-01-07  0.879282  0.879743  0.896476  0.461929
2023-01-08  0.295179  0.983000  0.151561  0.373097
2023-01-09  0.246402  0.082834  0.930914  0.724964
2023-01-10  0.614487  0.339148  0.332553  0.775664>

In [16]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.534244   0.568995   0.559521   0.455500
std     0.323074   0.314444   0.304077   0.272827
min     0.073680   0.082834   0.151561   0.023625
25%     0.258597   0.362241   0.300627   0.273307
50%     0.619554   0.604228   0.542130   0.419250
75%     0.753551   0.802418   0.863797   0.689026
max     0.989490   0.983000   0.930914   0.837488

In [17]:
# to transpose
df.T

,2023-01-01,2023-01-02,2023-01-03,2023-01-04,2023-01-05,2023-01-06,2023-01-07,2023-01-08,2023-01-09,2023-01-10
A,0.624621,0.073680,0.718648,0.135469,0.989490,0.765186,0.879282,0.295179,0.246402,0.614487
B,0.771971,0.436485,0.431519,0.810929,0.177434,0.776883,0.879743,0.983000,0.082834,0.339148
C,0.289985,0.600526,0.225555,0.483735,0.765761,0.918140,0.896476,0.151561,0.930914,0.332553
D,0.581210,0.837488,0.376571,0.240044,0.160408,0.023625,0.461929,0.373097,0.724964,0.775664

In [18]:
df['A']

2023-01-01    0.624621
2023-01-02    0.073680
2023-01-03    0.718648
2023-01-04    0.135469
2023-01-05    0.989490
2023-01-06    0.765186
2023-01-07    0.879282
2023-01-08    0.295179
2023-01-09    0.246402
2023-01-10    0.614487
Freq: D, Name: A, dtype: float64